* {
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 24px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  width: 1296px; 
  margin-top: 120px;
  max-width: 100%;
}

/* 每一格grid的容器: image + info + tags */
.grid {
  margin-bottom: 80px;
  text-align: left;
  width: 636px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* 圖片 */
.grid img {
  border-radius: 8px; 
  height: auto; 
  width: 100%; 
  max-height: 400px;
  border-width: 1px;
  display: block;
}

/* 下面區塊的容器：標題、內文、標籤們 */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  padding: 16px;
}

/* 標題 */
.info h2 {
  font-size: 28px;
  margin-bottom: 8px;
  line-height: 33.6px;  
  height: 34px;
  margin-top: 0;
  color: #3B3B3B; 
}

/* 內文 */
.info p {
  color: #919191;
  font-size: 16px;
  margin-bottom: 24px;
}

/* 標籤的容器 */
.tags {
  height: 32px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap; 
  gap: 16px;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%; 
}

/* 單一標籤 */
.tag {
  background-color: #F1F1F1; 
  color: #3B3B3B;
  border-radius: 16px;
  padding: 4px 12px;
  height: 32px;
  display: inline-flex;
  align-items: center;
}


@media (max-width: 1272px) {
  .container {
    width: 636px;
    padding: 20px;
    gap: 10px;  
  }
  .grid {
    width: 100%;
  }
}